*{
    margin: 0;
    padding: 0;
}


#hero{
    height: 100vh;
    background: url(../images/pexels.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;

}
#hero .content{
    height: 400px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#hero h1{
font-size: 70px;
}

#hero button{
    padding: 10px 40px;
    margin-top: 10px;
    text-transform: uppercase;
    background: linear-gradient(to left, tomato,red);
    color: black;
    border: 1px solid tomato;
    border-radius: 5px;
    cursor: pointer;

}
#hero button:hover{
    background: linear-gradient(to left,red,tomato);
}
.logo{
    padding: 0px;
    height: 5px;
    width: 10px;
}